* {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
.container-all {
  height: 100%;
}

.container-ingredients {
  background-color: rgb(61, 53, 53);
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(auto-fit, 300px);
  grid-gap: 0.5em;
  padding-top: 0.5em;
  place-items: center;
  justify-content: center;
}

.ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 50px;
  padding: 5px;
  padding: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
}

.selected {
  border: 5px solid red;
}
